<h3 *ngIf="!contacts.length">Non ci sono contatti nella rubrica</h3>

<app-rubric-contact
  *ngFor="let contact of contacts"
  [contact]="contact"
  (delete)="onDelete($event)"
  (save)="onSave($event)"
></app-rubric-contact>

<nz-pagination
  [nzPageIndex]="currentPage"
  [nzTotal]="totalContacts"
  (nzPageIndexChange)="paginateData($event)"
></nz-pagination>

<div class="form" [formGroup]="form">
  <button (click)="back(backupPage)">Back</button>
  <input class="contactsSearch" type="search" formControlName="search">
  <button (click)="onSearch()">Search</button>
  <span class="notFoundMess" *ngIf="notFoundMess" >nessun risultato trovato</span>
  <button  class="sortButton" (click)="sortAlphabetically()">Sort</button>
</div>



<app-rubric-new-contact (create)="onCreate($event)"></app-rubric-new-contact>
<div class="newContactAddMess" *ngIf="showSaved">
  <p>{{ newContact }} aggiunto alla rubrica</p>
</div>
