.contactsSearch {
  color: black;
}

.sortButton {
  position: absolute;
  right: 0;
}

.form {
  margin: 10px 0px 10px 10px;
}

.notFoundMess {
  margin-left: 10px;
}

.newContactAddMess {
  margin: 10px;
}
