<app-rubric-contact-list
  *ngIf="toggleView === false"
  [totalContacts]="totalContacts"
  [currentPage]="page"
  [contacts]="contacts"
  (create)="onCreate($event)"
  (delete)="onDelete($event)"
  (save)="onSave($event)"
  (page)="getContactsPages($event)"
></app-rubric-contact-list>

<app-rubric-search-results-list
[searchResultsList]="searchResultsList"
  [toggleView]="toggleView"
  (back)="onBack($event)"
  *ngIf="toggleView"
></app-rubric-search-results-list>

<button (click)="search()">fake search request</button>
